<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="500px">
            <!-- <h1>Chainfy</h1> -->
            <!-- <iframe width="470" height="315" src="https://www.youtube.com/embed/HJ1W4vHPDFY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="model.username" name="username">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="model.password" name="password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>
                &nbsp;
            </form>
        </div>
    </div>
</div>
