<div class="jumbotron">
        <h2>Ayuda</h2>
        <p>
            Aquí se muestra: <br>
            - Graficas de los datos. <br>
            - Dashboards. <br>
            - Trazabilidad de los datos. <br>
            - Control del estado total de las entidades. <br>
        </p>
      </div>


<!-- <div class="card mb-3">
    <div class="card-header">Propietarios</div>
    <table class="card-body table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Entidad</th>
                <th>Propietario</th>
                <th>Dato</th>
                <th>Timestamp</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of datas; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{data.entityName}}</td>
                <td>{{data.ownerName}}</td>
                <td>{{data.data}}</td> 
                <td>{{data.timestamp}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<h2>Temperatura</h2>
<!-- <form>
    
    <div class="form-group">
        <label for="exampleTextarea">Entidad</label>
        <select class="custom-select" [(ngModel)]="model.asset" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let owner of owners" [ngValue]="owner">{{owner.name}}</option>
        </select>
    </div>
    <div class="form-group">
            <label for="exampleTextarea">Campo</label>
            <textarea class="form-control" [(ngModel)]="model.data" name="data" rows="1"></textarea>
    </div>
</form>
<button type="submit" class="btn btn-primary" (click)="getData()">Submit</button> -->

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>