<h2>Features: </h2>
<h6><font color="green">- Iniciar, parar y resetear blockchain privada</font></h6>
<h6><font color="green">- Generador de claves</font></h6>
<h6><font color="green">- Crear activos</font></h6>
<h6><font color="green">- Pintar jerarquía</font></h6>
<h6><font color="green">- Transferencia de activos</font></h6>
<h6><font color="red">- Trazabilida de datos</font></h6>
<h6><font color="red">- Smart Contracts</font></h6>
<h6><font color="red">- Dashboard con información resumida</font></h6>
<h6><font color="red">- Conectar con nodos de otros usuarios</font></h6>
<h6><font color="red">- Aplicación móvil para clientes</font></h6>